// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #f7cd23;
$secondary: #2e2e2e;
$accent: #9c27b0;

$dark: #2e2e2e;

$positive: #27ae60;
$negative: #e74c3c;
$info: #3498db;
$warning: #e67e22;

@import "~quasar-variables-styl";
