name: Deploy On Production
on:
  registry_package:
    types: [published]
  workflow_dispatch:
jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: Docker pull on server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          KEY: ${{ secrets.SSHKEY }}
          debug: ${{ secrets.DEBUG }}
          script: |
            docker pull ghcr.io/moviepediafilms/frontend:latest
